/*
===general style that has to be used throughout the entire website (font, bakground)===
*/
body {
  font-family: 'Open Sans', sans-serif;
  background-image: url("pics/blurredsteps1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}


/*
  ===Style for everything within the header tags (the nav bar!)===
*/
header {
  background-color: darkslategray;
  color: honeydew;
  margin: 15px auto;
  width: 80%;
  border-radius: 5px;
}

header h2 {
  float: left;
  padding-left: 10px;
}

.nav {
  font-weight: bold;
}

.nav-item {
  list-style-type: none;
  font-weight: bold;
  margin: 0px;
  padding: 0px;
}

header li a {
  display: block;
  padding: 8px;
}

/*
  ===Style for everything within the main tags (content on the page)===
*/
main {
  color: black;
  font-weight: 18px;
}

.introduction {
  text-align: center;
  margin: 15px auto;
  width: 60%;
  background-color: mintcream;
  filter: opacity(.7);
  border-radius: 25px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 75%;
  margin: 30px auto;
  filter: opacity(.2);
  transition-duration: 2;
  color: dimgray;
}

.card-img-top {
  height: 200px;
  object-fit: cover;
}

/* If the screen is smaller than 600px then the cards aren't transparent! */
@media screen and (max-width: 600px) {
 .card {
    filter: opacity(1);
  }
}

/*
---if the user hovers over the card then it creates a shadow and removes the filter---
*/
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  filter: none;
  transition-duration: 2;
}


.container {
  padding: 10px 30px;
  margin: 0 12px;
}

/*
  ===Style for everything within the footer tags (content within the footer.)===
*/
footer {
    background-color: darkslategray;
    color: honeydew;
    margin: 15px auto;
    width: 80%;
    border-radius: 5px;
    overflow: hidden;
}

.followlinks {
  float:left;
}

.copyrights {
  float: right;
  padding-right: 3px;
}

li {
  list-style: none;
}

a:link{
  color: inherit;
  text-decoration: none;
}
