body {
  font-family: 'Open Sans', sans-serif;
}

header {
  overflow:hidden;
  background-color: #89FF7A;
  color: #FF31B7;
  margin-bottom: 15px;
  margin-top: 15px;
  font-weight: 22px;
}

header h1 {
  float: left;
  padding-left: 20px;
}

.nav {
  float: right;
  font-weight: bold;
}

.nav-item {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

header li a {
  display: block;
  padding: 8px;
}

header .active {
  background-color: #5FA955;
}

header li {
  display:inline;
  float:left;
}


main {
  overflow: hidden;
  background-color: #FF8EE5;
  color: #D3FFD3;
  font-weight: 18px;
}


footer {
  background-color: #89FF7A;
  color: #FF31B7;
  font-weight: 16px;
  font-weight: bold;
  margin-top: 15px;
}

footer li {
  list-style: none;
}
